<body style="background-color:black; overflow: hidden">
<div style="height:95; width:400; margin-top:0;">
<a class="weatherwidget-io" href="https://forecast7.com/en/40d54n105d04/80525/?unit=us" data-mode="Current" data-theme="original" data-basecolor="#000000" >Fort Collins, CO 80525, USA</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
		function init ( ) {
			console.log('init');
			setInterval('__weatherwidget_init()', 15 * 60 * 1000);
		}

		init( );
</script>
</div>
<div style="height:55; width:309; margin-left:0; margin-top:0; margin-left:45; overflow: hidden">
<iframe src="https://free.timeanddate.com/clock/i8kyrazf/n1947/fn12/fs45/fcfff/tc000/ftb/bls0/brs0/bts4/bbs4" frameborder="0" width="309" height="55"></iframe>
</div>
<div style="height:300; width:320; margin-left:50; margin-top:0; overflow: hidden">
<iframe src="/" width="327" height="307" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</body>
