<body style="background-color:black;">
<div style="height:10%; width:100%; margin-top:0;">
<a class="weatherwidget-io" href="https://forecast7.com/en/40d54n105d04/80525/?unit=us" data-mode="Current" data-theme="original" data-basecolor="#000000" >Fort Collins, CO 80525, USA</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
		function init ( ) {
			console.log('init');
			setInterval('__weatherwidget_init()', 15 * 60 * 1000);
		}

		init( );
</script>
</div>
<div style="height:40%; width:40%; margin-left:auto; margin-right:auto;">
<iframe src="/clock/by15-tm20-nl-nl-sg16-ar12-dt12-nl-ag8-nl-pl4-gr100:100:10:1:2" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" height="100%" width="100%" >
    </iframe>
</div>
